.frame {
    text-align: center;
    margin: auto;
}


img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.frame2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 100%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}